[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
llama-index = "*"
llama-index-llms-ollama = "*"
llama-index-embeddings-huggingface = "*"
llama-index-vector-stores-chroma = "*"
chromadb = "*"
pydantic = "*"
streamlit = "*"
streamlit-chromadb-connection = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
